/* General Style */
a:link {text-decoration:none; color:#D14935;}
a:active {text-decoration:none; color:#D14935;}
a:visited {text-decoration:none; color:#D14935;}
a:hover {text-decoration:none; color:#FFFFFF;}

td, body {font-family:verdana,arial,helvetica; font-size:8pt; color:#6382AE;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}
input#catSelector9{background-color:#fff; }

a.noun:link {text-decoration:none; color:#50648B}
a.noun:active {text-decoration:none; color:#50648B}
a.noun:visited {text-decoration:none; color:#50648B}
a.noun:hover {text-decoration:none; color:#FFFFFF}
.mframe1 {padding:2 10 30 10px;}
hr {color:#586786;height:1px;}
label {cursor:pointer;cursor:hand}

.blocktitle {font-family:Verdana,Sans-Serif;color:#7BA5A8;font-size:13px;font-weight:bold; padding-left:22px; background: url('/.s/t/993/19.gif') no-repeat 5px 2px;}

.menut0 {background:#435381;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;}
.menut {padding:2 3 3 15px;background:url('/.s/t/993/10.jpg');border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-bottom:4px solid #FFFFFF;}
.mframe {padding:2 0 30 30px;}
.bannerTable {width:468;height:60;background:url('/.s/t/993/10.jpg');border-top:1px solid #FFFFFF;border-left:1px solid #FFFFFF;border-bottom:4px solid #FFFFFF;}

.menu1 {font-weight:bold;font-size:8pt;font-family:Arial,Sans-Serif;}
a.menu1:link {text-decoration:none; color:#D14935}
a.menu1:active {text-decoration:none; color:#D14935}
a.menu1:visited {text-decoration:none; color:#D14935}
a.menu1:hover {text-decoration:none; color:#000000}
/* ------------- */

/* Menus */
ul.uz, ul.uMenuRoot {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 17px; background: url('/.s/t/993/20.gif') no-repeat; margin-bottom: .6em;}
/* ----- */

/* Site Menus */
.uMenuH li {float:left;padding:0 5px;}


.uMenuV .uMenuItem {font-weight:normal;}
.uMenuV li a:link {text-decoration:none; color:#50648B;}
.uMenuV li a:active {text-decoration:none; color:#50648B}
.uMenuV li a:visited {text-decoration:none; color:#50648B}
.uMenuV li a:hover {text-decoration:none; color:#FFFFFF}

.uMenuV .uMenuItemA {font-weight:bold;}
.uMenuV a.uMenuItemA:link {text-decoration:none; color:#D14935}
.uMenuV a.uMenuItemA:visited {text-decoration:none; color:#D14935}
.uMenuV a.uMenuItemA:hover {text-decoration:none; color:#FFFFFF}
.uMenuV .uMenuArrow {position:absolute;width:10px;height:10px;right:0;top:3px;background:url('/.s/img/wd/1/ar1.gif') no-repeat 0 0;}
.uMenuV li {margin: 0; padding: 0 0 0 17px; background: url('/.s/t/993/20.gif') no-repeat; margin-bottom: .6em;}
/* --------- */

/* Module Part Menu */
.catsTd {padding: 0 0 6px 17px; background: url('/.s/t/993/20.gif') no-repeat;}
.catName {font-family:verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNameActive {font-family:verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNumData {font-size:7pt;color:#D8D5D5;}
.catDescr {font-size:7pt; padding-left:10px;}
a.catName:link {text-decoration:none; color:#50648B;}
a.catName:visited {text-decoration:none; color:#50648B;}
a.catName:hover {text-decoration:none; color:#FFFFFF;}
a.catName:active {text-decoration:none; color:#50648B;}
a.catNameActive:link {text-decoration:none; color:#D14935;}
a.catNameActive:visited {text-decoration:none; color:#D14935;}
a.catNameActive:hover {text-decoration:none; color:#FFFFFF;}
a.catNameActive:active {text-decoration:none; color:#D14935;}
/* ----------------- */

/* Entries Style */
.eBlock {border:1px solid #262628;}
.eTitle {font-family:Verdana,Arial,Sans-Serif;font-size:13px;font-weight:bold;color:#7BA5A8; padding: 0 0 0 21px; background: url('/.s/t/993/21.gif') no-repeat;}
.eTitle a:link {text-decoration:none; color:#D14935;}
.eTitle a:visited {text-decoration:none; color:#D14935;}
.eTitle a:hover {text-decoration:none; color:#FFFFFF;}
.eTitle a:active {text-decoration:none; color:#D14935;}

.eText {text-align:justify; padding:5px;border-top:1px dashed #EFEFEF;}

.eDetails {background:#141414;color:#586786;padding-bottom:5px;padding-top:3px;text-align:left;font-size:7pt;}
.eDetails1 {background:#141414;color:#586786;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}
.eDetails2 {background:#141414;color:#586786;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}

.eRating {font-size:7pt;}

.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('/.s/t/993/22.gif') no-repeat 0px 0px;}
/* --------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {color:#FF0000;}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}
/* ------------------ */

/* Comments Style */
.cAnswer {color:#F4F5F7;padding-left:15px;padding-top:4px;font-style:italic;}

.cBlock1 {background:url('/.s/t/993/10.jpg');border:1px solid #233047;}
.cBlock2 {background:url('/.s/t/993/10.jpg');border:1px solid #233047;}
/* -------------- */

/* Comments Form Style */
.commTable {background:url('/.s/t/993/10.jpg');border:1px solid #233047;}
.commTd1 {color:#7BA5A8;font-weight:bold;padding-left:5px;}
.commTd2 {padding-bottom:2px;}
.commFl {width:100%;color:#FFFFFF;background:#03111A;border:1px solid #233047;}
.smiles {background:#03111A;border:1px solid #233047;}
.commReg {padding: 10 0 10 0px; text-align:center;}
.commError {color:#FF0000;}
.securityCode {}
/* ------------------- */

/* News/Blog Archive Menu */
.archUl {list-style: none; margin:0; padding-left:0;}
.archLi {padding: 0 0 3px 10px; background: url('/.s/t/993/23.gif') no-repeat 0px 4px;}
.archActive {color:#7BA5A8;}
a.archLink:link {text-decoration:underline; color:#7BA5A8;}
a.archLink:visited {text-decoration:underline; color:#7BA5A8;}
a.archLink:hover {text-decoration:none; color:#D8D5D5;}
a.archLink:active {text-decoration:none; color:#D8D5D5;}
/* ---------------------- */

/* News/Blog Archive Style */
.archiveCalendars {text-align:center;color:#B5C4E1;}
.archiveDateTitle {font-weight:bold;color:#7BA5A8;padding-top:15px;}
.archEntryHr {width:250px;color:#DDDDDD;}
.archiveeTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('/.s/t/993/24.gif') no-repeat 0px 2px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#C3C3C3;}
a.archiveDateTitleLink:link {text-decoration:none; color:#FFFFFF}
a.archiveDateTitleLink:visited {text-decoration:none; color:#FFFFFF}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#FFFFFF}
a.archiveDateTitleLink:active {text-decoration:underline; color:#FFFFFF}
.archiveNoEntry {text-align:center;color:#B5C4E1;}
/* ------------------------ */

/* News/Blog Calendar Style */
.calMonth {}
.calWday {color:#FFFFFF; background:#233047; width:18px;}
.calWdaySe {color:#010A11; background:#50648B; width:18px;}
.calWdaySu {color:#010A11; background:#50648B; width:18px; font-weight:bold;}
.calMday {color:#7BA5A8;background:url('/.s/t/993/10.jpg');border:1px solid #233047;}
.calMdayA {color:#000000;background:#D14935; font-weight:bold;}
.calMdayIs {color:#FFFFFF;background:url('/.s/t/993/10.jpg');font-weight:bold;border: 1px solid #D14935;}
.calMdayIsA {border:1px solid #FFFFFF; background:#233047;font-weight:bold;}
a.calMonthLink:link,a.calMdayLink:link {text-decoration:none; color:#FFFFFF;}
a.calMonthLink:visited,a.calMdayLink:visited {text-decoration:none; color:#FFFFFF;}
a.calMonthLink:hover,a.calMdayLink:hover {text-decoration:underline; color:#FFFFFF;}
a.calMonthLink:active,a.calMdayLink:active {text-decoration:none; color:#FFFFFF;}
/* ------------------------ */

/* Poll styles */
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:#000000;}
.textResults {background:#FFFFFF}
.textResultsTd {background:#010A11}

.pollNow {background:#FFFFFF}
.pollNowTd {background:#010A11}

.totalVotesTable {}
.totalVotesTd {background:#010A11}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:yellow;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:pink;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:#99CCFF;}
/* ---------------- */

/* Other Styles */
.replaceTable {background: #03111A;height:100px;width:300px;border:1px solid #233047;}
.replaceBody {background:url('/.s/t/993/10.jpg');}

.legendTd {font-size:7pt;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:url('/.s/t/993/16.jpg') top repeat-x;width:98%;margin-left:1%;margin-right:1%;}
.gTableTop {padding:2px;height:45px; background:url('/.s/t/993/17.jpg') left top no-repeat;font-family:Verdana,Sans-Serif;color:#BCD8F2;font-size:13px;font-weight:bold; padding-left:120px;padding-top:20px;}
.gTableSubTop {padding:2px;background:url('/.s/t/993/26.gif') center;height:20px;font-size:10px;}
.gTableBody {padding:2px;background:#000000;border:1px solid #161616;}
.gTableBody1 {padding:2px;background:#000000;border:1px solid #161616;}
.gTableBottom {padding:2px;background:url('/.s/t/993/10.jpg');border:1px solid #161616;}
.gTableLeft {padding:2px;background:url('/.s/t/993/10.jpg');border:1px solid #161616;color:#7BA5A8}
.gTableRight {padding:2px;background:url('/.s/t/993/10.jpg');border:1px solid #161616;color:#7BA5A8;}
.gTableError {padding:2px;background:url('/.s/t/993/10.jpg');border:1px solid #161616;color:#FF0000;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background:#000000;border:1px solid #161616;}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background:url('/.s/t/993/10.jpg');border:1px solid #161616;}
.forumLastPostTd,.forumArchive {padding:2px;font-size:7pt;}

a.catLink:link {text-decoration:none; color:#BCD8F2;}
a.catLink:visited {text-decoration:none; color:#BCD8F2;}
a.catLink:hover {text-decoration:none; color:#FFFFFF;}
a.catLink:active {text-decoration:none; color:#BCD8F2;}

.lastPostGuest,.lastPostUser,.threadAuthor {}
.archivedForum{font-size:7pt;color:#FF0000;}
/* ------------- */

/* forum Titles & other */
.forum {font-size:9pt;}
.forumDescr,.forumModer {color:#CCCCCC;font-size:7pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#D14935;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:none; color:#D14935;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:none; color:#FFFFFF;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:none; color:#D14935;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {padding-bottom:7px;font-size:7pt;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#D14935;}
a.forumBarA:visited {text-decoration:none; color:#D14935;}
a.forumBarA:hover {text-decoration:none; color:#FFFFFF;}
a.forumBarA:active {text-decoration:none; color:#D14935;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#435381;color:#FFFFFF;}
.fastNavCat {background:#E7EEF8;}
.fastNavCatA {background:#E7EEF8;color:#0000FF}
.fastNavForumA {color:#0000FF}
/* -------------------------- */

/* forum Page switches */
.pagesInfo {background:#03111A;padding-right:10px;font-size:7pt;}
.switches {background:#233047;}
.switch {background:url('/.s/t/993/10.jpg');width:15px;font-size:7pt;}
.switchActive {background:#D14935;font-weight:bold;color:#000000;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#D14935;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#D14935;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:none; color:#FFFFFF;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:none; color:#D14935;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {padding:2px;padding:2px;background:#000000;border:1px solid #161616;}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:url('/.s/t/993/10.jpg');border:1px solid #161616;}
.threadLastPostTd {padding:2px;font-size:7pt;}
.threadDescr {color:#CCCCCC;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#03111A;height:20px;font-weight:bold;font-size:7pt;color:#FFFFFF;padding-left:40px;}
.threadsDetails {padding:2px;background:#000000;border:1px solid #161616;height:20px;color:#FEFEFE;}
.forumOnlineBar {padding:2px;background:#000000;border:1px solid #161616;height:20px;color:#FEFEFE;}

a.threadPinnedLink:link {text-decoration:none; color:#D14935;}
a.threadPinnedLink:visited {text-decoration:none; color:#D14935;}
a.threadPinnedLink:hover {text-decoration:none; color:#FFFFFF;}
a.threadPinnedLink:active {text-decoration:none; color:#D14935;}

.threadPinnedLink,.threadLink {font-weight:bold;}
a.threadLink:link {text-decoration:none; color:#D14935;}
a.threadLink:visited {text-decoration:none; color:#D14935;}
a.threadLink:hover {text-decoration:none; color:#FFFFFF;}
a.threadLink:active {text-decoration:none; color:#D14935;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* Posts View */
.postTable {background:#002F3C}
.postPoll {background:url('/.s/t/993/10.jpg');text-align:center;}
.postFirst {background:url('/.s/t/993/10.jpg');}
.postRest1 {background:url('/.s/t/993/10.jpg');}
.postRest2 {background:url('/.s/t/993/10.jpg');}
.postSeparator {height:2px;background:#D14935;}

.postTdTop {background:url('/.s/t/993/26.gif') center;height:20px;font-size:10px;}
.postBottom {background:#000000;height:17px;}
.postUser {font-weight:bold;}
.postTdInfo {background:url('/.s/t/993/10.jpg');text-align:center;padding:5px;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#CCCCCC;}
.posttdMessage {background:#000000; padding: 10px;}

.postPoll {padding:5px;}
.pollQuestion {text-align:center;font-weight:bold;}
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:#03111A;font-size:9px;}
.quoteMessage {background:#03111A;font-size:9px;}

.signatureView {font-size:7pt;}
.edited {padding-top:30px;font-size:7pt;text-align:right;color:#CCCCCC;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#FFFF00;}
.statusOffline {color:#FFFFFF;}
/* ---------- */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('/.s/t/993/27.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('/.s/t/993/27.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* Post Form */
.queryField, .loginField {background:url('/.s/t/993/10.jpg');color:#7BA5A8;border:1px solid #233047;margin:1px;}

.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {font-size:7pt;background: #D14935;color:#010A11;border:1px outset #233047;}

.codeButtons {font-size:7pt;background: #D14935;color:#010A11;border:1px outset #233047;}
.codeCloseAll {font-size:7pt;background: #D14935;color:#010A11;border:1px outset #233047;font-weight:bold;}
.postNameFl,.postDescrFl {background:#03111A;border:1px solid #233047;width:400px;color:#FFFFFF;}
.postPollFl,.postQuestionFl {background:#03111A;border:1px solid #233047;width:400px;color:#FFFFFF;}
.postResultFl {background:#03111A;border:1px solid #233047;width:50px;color:#FFFFFF;}
.postAnswerFl {background:#03111A;border:1px solid #233047;width:300px;color:#FFFFFF;}
.postTextFl {background:#03111A;border:1px solid #233047;width:550px;height:150px;color:#FFFFFF;}
.postUserFl {background:#03111A;border:1px solid #233047;width:300px;color:#FFFFFF;}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* --------- */

/* ====== forum End ====== */

#uNetRegF{text-align:left;}
input[type=submit] {*overflow: visible; *padding:0 7px;}
.uMenuV{z-index:5; text-align:left;}
input[type=text], input[type=password], textarea, iframe#mchatIfm2{box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; *padding:3px 0px !important;}
.myBtnLeft img, .myBtnRight img, .myBtnLeftA img, .myBtnRightA img, .myBtnRight + td input, .myBtnRightA + td input { display: block }
.myBtnCenter, .myBtnCenterA { line-height:19px !important }
